.navbar-container {
  z-index: 20;
  top: 0;
  width: 100%;

  .navbar {
    padding: 5px;
    background-color: #d4a373;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      margin-left: 20px;
      display: flex;

      img {
        height: 6vh;
        margin-right: 0.75rem;
      }

      .title {
        color: white;
        font-size: 1.75rem;
        font-weight: 600;
        align-self: center;
      }

      .title:hover {
        text-decoration: underline;
      }
    }

    .sign-up {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-right: 20px;
      // button {
      //   font-size: 1.5rem;
      //   padding: 0;
      //   border: none;
      //   background: none;
      //   cursor: pointer;
      //   padding: 5px 20px; //North East South West
      //   border: 1px solid blue;
      //   border-radius: 0.75rem;
      // }
      a {
        all: unset;
      }

      button {
        all: unset;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.811);
        display: flex;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        border: 2px solid #72976b;
        border-radius: 0.5rem;
        background-color: #e9edc988;
        padding: 5px 20px;
        // height: 25px;
        // width: 120px;
      }

      button:hover {
        box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.4);
      }
    }
  }
}
