.navbar-container {
  z-index: 20;
  top: 0;
  width: 100%;

  .navbar {
    padding: 5px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      margin-left: 20px;
      display: flex;

      img {
        height: 5vh;
        margin-right: 0.75rem;
      }

      .title {
        color: white;
        font-size: 1.75rem;
        font-weight: 600;
        align-self: center;
      }
    }

    .sign-up {
      display: flex;
      gap: 20px;
      margin-right: 20px;

      button {
        font-size: 1.5rem;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        padding: 5px 20px; //North East South West
        border: 1px solid blue;
        border-radius: 0.75rem;
      }

      button:hover {
        text-decoration: underline;
      }
    }
  }
}
