.swiper {
  // border: 1px solid red;
  border-radius: 1rem;
  width: 800px;
  height: 300px;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

// .swiper-slide img {
//   // display: block;
//   // width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

.slider-photos {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  object-fit: cover;
}
