.my-list-container {
  border: 5px solid #faedcd;
  background-color: #faedcd;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-list-animal-item {
  border: 3px solid #72976b;
  border-radius: 2.2rem;
  // border-top-left-radius: 2.2rem;
  // border-bottom-left-radius: 2.2rem;
  background-color: rgba(204, 213, 174, 0.5);
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.7);
  display: flex;
  gap: 20px;
  width: 750px;
  height: 306px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  .my-list-profile-pic {
    border-right: 3px solid #72976b;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  .my-list-right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 20px;
    // justify-content: space-between;

    .list-name {
      font-size: 2rem;
      margin-top: 10px;
      margin-bottom: 10px;
      // margin-right: 20px;
      border-bottom: 3px solid #72976b;
    }

    .list-traits {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      width: 100%;
    }

    .list-details {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
    }

    button {
      all: unset;
      border: 2px solid #72976b;
      padding: 5px 20px;
      border-radius: 0.5rem;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }

    button:hover {
      cursor: pointer;
      background-color: #72976b70;
      box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.4);
    }
  }
}
