.results-container {
  height: 100%;
  border: 5px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pet-card-container {
  border: 2px solid red;
  height: 78vh;
  overflow: auto;
  // height: 800px;
  // padding: 0 10px;
  width: 825px;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .pet-card {
    border: 2px solid blue;
    margin: 10px 5px;
    width: 31%;
  }
}
