* {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 60px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .main-container-left {
    // border: 2px solid green;
    position: relative;
    z-index: 5;
    width: 50%;

    .slogan-container {
      div {
        text-align: center;
      }
    }

    .pet-card-container {
      border: 2px solid red;
      padding: 0 10px;
      width: 800px;
      z-index: 5;

      .card-row {
        border: 1px solid green;
        display: flex;
        justify-content: space-between;
        margin: 15px 0;

        .pet-card {
          border: 2px solid blue;
          width: 31%;
          height: 15rem;
        }
      }
    }
  }

  .main-container-right {
    border: 1px solid blue;
    position: relative;
    height: auto; // Auto fill height to max? Might be bad idea
    text-align: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
